{% extends 'base.html' %}

{% block content %}
<h3>About</h3>
<div class="row">
    <div class="col-xs-12">
        <p>
            We are an Irish owned and operated environmental consultancy and testing facility.
            Easca Environment's name is derrived from the Irish word for easy, easca, and we strive to make your environmental testing as easy as possible.
            We are passionate about applying science to deliver integrated scientific and environmental services and solutions to society.
            Our company is home to highly qualified and experienced scientists who deliver a wide range of analytical and specialist consulting services to our clients in the agricultural,
            environmental, food, and pharmaceutical sectors. We pride ourselves in the quality of our work and the confidence you can place in our results.
        </p>
        <p>
            By adopting progressive digitization of our services, we can return results to you within 7 days meaning you can quickly develop the most efficient nutriant strategy for you land.
        <p>
            Easca Environmental operate to the highest standards of quality so that customers can have the confidence to act on our results.
            We take great pride in providing a friendly and prompt service every time you need us. Our personal guarantee is based on the confidence
            we place on our Team's ability to resolve your specific requirements within an agreed timeframe.
        </p>
    </div>
</div>
{% endblock %}
