{% extends 'base.html' %}
{% block page_title %}Lab Portal{% endblock %}
{% block page_heading %}Lab Portal{% endblock %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<h3>Receive Sample</h3>
<div class="row">
    <form role="form" method="post" id="receive_form" action="{% url 'receive' %}">
        {% csrf_token %}
        <div class="form-group col-md-6">
            <input type="text" name="sample_ref" class="form-control search-input" id="sample_ref" />
        </div>
        <div class="form-group col-md-12">
            <input class="btn btn-primary" id="submit_sample_btn" name="commit" type="submit" value="Receive">
        </div>
    </form>
</div>

<h3>Submit Results</h3>
<div class="row">
    <form role="form" method="post" id="" action="{% url 'results' %}">
        {% csrf_token %}
        <div class="form-group col-md-6">

            {{ results_form|as_bootstrap }}

        </div>
        <div class="form-group col-md-12">
            <input class="btn btn-primary" id="submit_sample_btn" name="commit" type="submit" value="Submit">
        </div>
    </form>
</div>

<div class="row">
    <table class="col-xs-12">
        <tr>
            <th>Sample Ref.</th>
            <th>Status</th>
            <th>Details</th>
            <th>Submitted By</th>
            <th>Submitted Date</th>
            <th>Received Date</th>
            <th>Tested Date</th>
        </tr>
        {% for sample in samples %}
        <tr>
            <td>{{ sample.sample_ref }}</td>
            <td>{{ sample.status }}</td>
            <td>
                {% if sample.status == "Ordered" %}
                {% else %}
                <form action="{% url 'viewreport' sample.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="View">
                </form>
                {% endif %}
            </td>
            <td>{{ sample.submitted_by }}</td>
            <td>{{ sample.submit_date }}</td>
            <td>{{ sample.received_date }}</td>
            <td>{{ sample.tested_date }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
    {% endblock %}
