{% extends 'base.html' %} {% block page_title %}Lab Portal{% endblock %} {% block page_heading %}Lab Portal{% endblock %} {% block content %}

<div class="row">
    <table class="col-xs-12">
        <tr>
            <th>Sample Ref.</th>
            <th>Status</th>
            <th>Customer Ref.</th>
        </tr>
        {% for sample in samples %}
        <tr>
            <td>{{ sample.sample_ref }}</td>
            <td>{{ sample.status }}</td>
            <td class="btn"><a href="{% url 'labdetails' %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}