{% extends 'base.html' %}
{% block page_title %}Lab Portal{% endblock %}
{% block page_heading %}Lab Portal{% endblock %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="container portal_section">
    <div class="row section_header">
            <div class="col-xs-12 col-sm-4">
                <a data-toggle="collapse" href="#dispatch_collapse" role="button" aria-expanded="true" aria-controls="#dispatch_collapse">
                    <h3 class="pull-left section_title">Dispatch Sample</h3>
                    <h3 class="pull-right section_title"><i class="fas fa-plus"></i></h3>
                </a>
            </div>
</div>
    <div class="collapse dispatch_collapse collapse_xs" id="dispatch_collapse">
        <p>Enter an 'Ordered' sample reference to record that the sample kit has been dispatched to customer.</p>
        <div class="row">
            <form role="form" method="post" id="dispatch_form" action="{% url 'dispatch' %}">
                {% csrf_token %}
                <div class="form-group col-xs-12 col-sm-3">
                    <input type="text" name="sample_ref" class="form-control search-input" id="sample_ref" />
                </div>
                <div class="form-group col-xs-12 col-sm-3">
                    <input class="btn btn-success" id="submit_sample_btn" name="commit" type="submit" value="Dispatch">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container portal_section">
    <div class="row section_header">

            <div class="col-xs-12 col-sm-4">
                <a data-toggle="collapse" href="#receive_collapse" role="button" aria-expanded="true" aria-controls="#receive_collapse">
                    <h3 class="pull-left section_title">Receive Sample</h3>
                    <h3 class="pull-right section_title"><i class="fas fa-plus"></i></h3>
                </a>
            </div>
</div>
    <div class="collapse receive_collapse collapse_xs" id="receive_collapse">
        <p>Enter a 'Submitted' sample reference to record that the sample has been received into the lab.</p>
        <div class="row">
            <form role="form" method="post" id="receive_form" action="{% url 'receive' %}">
                {% csrf_token %}
                <div class="form-group col-xs-12 col-sm-3">
                    <input type="text" name="sample_ref" class="form-control search-input" id="sample_ref" />
                </div>
                <div class="form-group col-xs-12 col-sm-3">
                    <input class="btn btn-success" id="submit_sample_btn" name="commit" type="submit" value="Receive">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container portal_section">
    <div class="row section_header">
        <div class="col-xs-12 col-sm-4">
            <a data-toggle="collapse" href="#results_collapse" role="button" aria-expanded="true" aria-controls="#results_collapse">
                <h3 class="pull-left section_title">Upload Results</h3>
                <h3 class="pull-right section_title"><i class="fas fa-plus"></i></h3>
            </a>
        </div>
    </div>

    <div class="collapse results_collapse collapse_xs" id="results_collapse">
        <p>
            Enter a 'Received' sample reference, with the results from lab test. <br />
            A blank list means there are no samples received for testing.
        </p>
            <form role="form" method="post" id="" action="{% url 'results' %}">
                {% csrf_token %}
                <!-- <div class="form-group col-md-6">

                {{ results_form|as_bootstrap }}

            </div>
               -->
                <div class="row">
                    <div class="form-group col-xs-6 col-sm-3">
                        <label for="{{ results_form.sample.id_for_label }}">Sample Ref.</label>
                        {{ results_form.sample }}
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-2">
                                <label for="{{ results_form.p.id_for_label }}">P</label>
                                {{ results_form.p }}
                            </div>
                            <div class="form-group col-xs-6 col-sm-2">
                                <label for="{{ results_form.k.id_for_label }}">K</label>
                                {{ results_form.k }}
                            </div>
                            <div class="form-group col-xs-6 col-sm-2">
                            <label for="{{ results_form.lr_ph.id_for_label}}">LR pH Buffer</label>
                                {{ results_form.lr_ph }}
                            </div>
                            <div class="form-group col-xs-6 col-sm-2">
                                <label for="{{ results_form.pH.id_for_label }}">pH</label>
                                {{ results_form.ph }}
                            </div>
                            <div class="form-group col-xs-6 col-sm-2">
                                <input class="btn btn-success results_btn" id="submit_sample_btn" name="commit" type="submit" value="Submit Results">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
    </div>
</div>

<div class="container portal_section">
    <div class="row section_header">

        <div class="col-xs-12 col-sm-4 ">
            <a data-toggle="collapse" href="#archive_collapse" role="button" aria-expanded="true" aria-controls="#archive_collapse">
                <h3 class="pull-left section_title">Sample Archive</h3>
                <h3 class="pull-right section_title"><i class="fas fa-plus"></i></h3>
            </a>
        </div>

    </div>
    <div class="collapse archive_collapse collapse_xs" id="archive_collapse">
        <p>Explore the archive of samples.</p>
        <div class=" container">
            <div class="row">
                <table class="col-xs-12">
                    <tr>
                        <th>Sample Ref.</th>
                        <th>Status</th>
                        <th>Details</th>
                        <th>Ordered By</th>
                        <th>Ordered Date</th>
                        <th>Dispatched Date</th>
                        <th>Submitted Date</th>
                        <th>Received Date</th>
                        <th>Tested Date</th>
                    </tr>
                    {% for sample in samples %}
                    <tr>
                        <td>{{ sample.sample_ref }}</td>
                        <td>{{ sample.status }}</td>
                        <td>
                            {% if sample.status == "Ordered" or sample.status == "Dispatched" %}
                            {% else %}
                            <form action="{% url 'viewreport' sample.id %}" method="post">
                                {% csrf_token %}
                                <input class="btn btn-success" type="submit" value="View">
                            </form>
                            {% endif %}
                        </td>
                        <td>{{ sample.ordered_by }}</td>
                        <td>{{ sample.ordered_date.date }}</td>
                        <td>{{ sample.dispatched_date.date  }}</td>
                        <td>{{ sample.submit_date.date  }}</td>
                        <td>{{ sample.received_date.date  }}</td>
                        <td>{{ sample.tested_date.date  }}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if samples.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ samples.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ samples.number }} of {{ samples.paginator.num_pages }}.
                </span>

                {% if samples.has_next %}
                <a href="?page={{ samples.next_page_number }}">next</a>
                <a href="?page={{ samples.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock %}
