{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<h3>Submit Details: {{ sample.sample_ref }}</h3>
<div id="demo"></div>
<form role="form" method="post" id="" action="{% url 'submit' sample.id %}">
    {% csrf_token %}
    <div class="form-group col-md-6">

        {{ details_form.media }}
        {{ details_form|as_bootstrap }}

    </div>
    <div class="form-group col-md-12">
        <input class="btn btn-primary" id="submit_sample_btn" name="commit" type="submit" value="Submit Sample">
    </div>
</form>

{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
<script src="{% static 'js/datePicker.js' %}"></script>
{% endblock %}


{% endblock %}