{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}



{% block content %}


<div class="row">
    <h1>Soil Sample Report: {{ status.sample_ref }} </h1>
    <h3>Sample Details</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-6"><p>Sample Reference:</p></div>
                <div class="col-xs-6"><p>{{ status.sample_ref }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Customer Name:</p></div>
                <div class="col-xs-6"><p>{{ details.customer_name }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Customer Reference:</p></div>
                <div class="col-xs-6"><p>{{ details.customer_ref_1 }} - {{ details.customer_ref_2 }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Latitude:</p></div>
                <div class="col-xs-6"><p>{{ details.sample_location.latitude }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Longitude:</p></div>
                <div class="col-xs-6"><p>{{ details.sample_location.longitude }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Address:</p></div>
                <div class="col-xs-6"><p>{{ details.sample_address }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Date Sampled:</p></div>
                <div class="col-xs-6"><p>{{ details.sample_date }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Soil Type:</p></div>
                <div class="col-xs-6"><p>{{ details.soil_type }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Land Use:</p></div>
                <div class="col-xs-6"><p>{{ details.land_use }}</p></div>
            </div>
            <div class="row">
                <div class="col-xs-6"><p>Other Comments:</p></div>
                <div class="col-xs-6"><p>{{ details.other_comments }}</p></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="mymap_wrapper">
                <div id="mymap"></div>
            </div>
        </div>
    </div>

    <h3>Sample Results</h3>
    {% if results == "" %}
    <p> Results pending</p>
    {% else %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <table class="col-xs-12 col-sm-6">
                    <tr>
                        <th>P (mg/l)</th>
                        <th>K (mg/l)</th>
                        <th>LR pH</th>
                        <th>pH</th>
                    </tr>
                    <tr>
                        <td>{{ results.p }}</td>
                        <td>{{ results.k }}</td>
                        <td>{{ results.lr_ph }}</td>
                        <td>{{ results.ph }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>Phospherous, P = {{ results.p }} mg/l</h4>
            <div class="row">
                <div class="scale_value" style="position:relative; left: {{ p_perc }}%;"> {{ results.p }} mg/l</div>
            </div>
            <div class="row p_color_scale">
                <div class="col-xs-3 scale_section">
                    Very Low
                </div>
                <div class="col-xs-3 scale_section">
                    Low
                </div>
                <div class="col-xs-3 scale_section">
                    Adequit
                </div>
                <div class="col-xs-3 scale_section">
                    Sufficient
                </div>
            </div>
            <div class="row p_number_scale">
                <div class="col-xs-3 scale_num">
                    0
                </div>
                <div class="col-xs-3 scale_num">
                    3
                </div>
                <div class="col-xs-3 scale_num">
                    6
                </div>
                <div class="col-xs-3 scale_num">
                    8
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>Potasium, K = {{ results.k }} mg/l</h4>
            <div class="row">
                <div class="scale_value" style="position:relative; left: {{ k_perc }}%;"> {{ results.k }} mg/l</div>
            </div>
            <div class="row k_color_scale">
                <div class="col-xs-3 scale_section">
                    Very Low
                </div>
                <div class="col-xs-3 scale_section">
                    Low
                </div>
                <div class="col-xs-3 scale_section">
                    Adequit
                </div>
                <div class="col-xs-3 scale_section">
                    Sufficient
                </div>
            </div>
            <div class="row k_number_scale">
                <div class="col-xs-3 scale_num">
                    0
                </div>
                <div class="col-xs-3 scale_num">
                    50
                </div>
                <div class="col-xs-3 scale_num">
                    100
                </div>
                <div class="col-xs-3 scale_num">
                    150
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>pH = {{ results.ph }}</h4>
            <div class="row">
                <div class="scale_value" style="position:relative; left: {{ ph_perc }}%;"> {{ results.ph }}</div>
            </div>
            <div class="row ph_color_scale">
                <div class="col-xs-3 scale_section">
                    Very Acidic
                </div>
                <div class="col-xs-3 scale_section">
                    Acidic
                </div>
                <div class="col-xs-3 scale_section">
                    Neutral
                </div>
                <div class="col-xs-3 scale_section">
                    Basic
                </div>
            </div>
            <div class="row ph_number_scale">
                <div class="col-xs-3 scale_num">
                    0
                </div>
                <div class="col-xs-3 scale_num">
                    3
                </div>
                <div class="col-xs-3 scale_num">
                    6
                </div>
                <div class="col-xs-3 scale_num">
                    9
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>Lime Reqirement pH = {{ results.lr_ph }}</h4>
            <div class="row">
                <div class="scale_value" style="position:relative; left: {{ lr_ph_perc }}%;"> {{ results.lr_ph }}</div>
            </div>
            <div class="row lr_ph_color_scale">
                <div class="col-xs-3 scale_section">
                    Very Acidic
                </div>
                <div class="col-xs-3 scale_section">
                    Acidic
                </div>
                <div class="col-xs-3 scale_section">
                    Neutral
                </div>
                <div class="col-xs-3 scale_section">
                    Basic
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 scale_num">
                    0
                </div>
                <div class="col-xs-3 scale_num">
                    3
                </div>
                <div class="col-xs-3 scale_num">
                    6
                </div>
                <div class="col-xs-3 scale_num">
                    9
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    <h3>Status Details</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    <p>Status</p>
                    <p>Ordered By</p>
                    <p>Ordered Date</p>
                    <p>Submitted By</p>
                    <p>Submitted Date</p>
                    <p>Received By</p>
                    <p>Received Date</p>
                    <p>Tested By</p>
                    <p>Tested Date</p>
                </div>
                <div class="col-xs-6">
                    <p>{{ status.status }}</p>
                    <p>{{ status.ordered_by }}</p>
                    <p>{{ status.ordered_date }}</p>
                    <p>{{ status.submitted_by }}</p>
                    <p>{{ status.submit_date }}</p>
                    <p>{{ status.received_by }}</p>
                    <p>{{ status.received_date }}</p>
                    <p>{{ status.tested_by }}</p>
                    <p>{{ status.tested_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

        {% block head_js %}


        <script>
        var myLatLng = {
            lat: {{ details.sample_location.latitude }},
            lng: {{ details.sample_location.longitude }}
            };
        </script>
        <script src="{% static 'js/initMap.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE__MAPS_API_KEY }}&callback=initMap" type="text/javascript"></script>


        {% endblock %}
        {% endblock %}
