{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
{% endblock %}

{% block content %}


<div class="row">
    <h1>Soil Sample Report: {{ status.sample_ref }} </h1>
    <h3>Sample Details</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    <p>Sample Reference:</p>
                    <p>Customer Name:</p>
                    <p>Customer Reference:</p>
                    <p>Sample location:</p>
                    <p>Sample Address:</p>
                    <p>Sample Date:</p>
                    <p>Soil Type:</p>
                    <p>Land Use:</p>
                    <p>Other Comments:</p>
                </div>
                <div class="col-xs-6">
                    <p>{{ status.sample_ref }}</p>
                    <p>{{ details.customer_name }}</p>
                    <p>{{ details.customer_ref_1 }} {{ details.customer_ref_2 }}</p>
                    <p>Lat: {{ details.sample_location.latitude }}, Lng: {{ details.sample_location.longitude }}</p>
                    <p>{{ details.sample_address }}</p>
                    <p>{{ details.sample_date }}</p>
                    <p>{{ details.soil_type }}</p>
                    <p>{{ details.land_use }}</p>
                    <p>{{ details.other_comments }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="mymap_wrapper">
                <div id="mymap"></div>
                <div>
                    <p>test</p>
                </div>
            </div>
        </div>
    </div>

    <h3>Sample Results</h3>
    {% if results == "" %}
    <p> Results pending</p>
    {% else %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <table class="col-xs-12 col-sm-6">
                    <tr>
                        <th>P (ppm)</th>
                        <th>K (ppm)</th>
                        <th>LR pH</th>
                        <th>pH</th>
                    </tr>
                    <tr>
                        <td>{{ results.p }}</td>
                        <td>{{ results.k }}</td>
                        <td>{{ results.lr_ph }}</td>
                        <td>{{ results.ph }}</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    {% endif %}
    <h3>Status Details</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    <p>Status</p>
                    <p>Submitted By</p>
                    <p>Submitted Date</p>
                    <p>Received By</p>
                    <p>Received Date</p>
                    <p>Tested By</p>
                    <p>Tested Date</p>
                </div>
                <div class="col-xs-6">
                    <p>{{ status.status }}</p>
                    <p>{{ status.submitted_by }}</p>
                    <p>{{ status.submit_date }}</p>
                    <p>{{ status.received_by }}</p>
                    <p>{{ status.received_date }}</p>
                    <p>{{ status.tested_by }}</p>
                    <p>{{ status.tested_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function initMap() {
        //  var myLatLng = new google.maps.LatLng({{ sample.sample_location.latitude }}, {{ sample.sample_location.longitude }});

        var myLatLng = {
            lat: {{ details.sample_location.latitude }},
            lng: {{ details.sample_location.longitude }}
            };
        var map = new google.maps.Map(document.getElementById('mymap'), {
            zoom: 15,
            center: myLatLng,
            mapTypeId: 'satellite'
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE__MAPS_API_KEY }}&callback=initMap"
        type="text/javascript"></script>

{% endblock %}
