{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}
<h2>Welcome, {{ user.username }}</h2>
<p>{{ user.email }}</p>


<h3>Submit Sample</h3>
<div class="row">
    <table class="col-xs-12">
        <tr>
            <th>Sample Ref.</th>
            <th>Submit Details</th>
        </tr>
        {% for status in statuss %}
            {% if status.status == "Ordered" %}
        <tr>
            <td>{{ status.sample_ref }}</td>
            <td>
        <form action="{% url 'submit' status.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Submit Details">
        </form>
    </td>

        </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<h3>Processing Samples</h3>
<div class="row">
    <table class="col-xs-12">
        <tr>
            <th>Sample Ref.</th>
            <th>Your Reference</th>
            <th>Date Sampled</th>
            <th>Status</th>
            <th>View Report</th>
        </tr>
        {% for status in statuss %}
            {% if status.status == "Submitted" or status.status == "Received" %}

            <tr>
                <td>{{ status.sample_ref }}</td>


                {% for sample in details %}
                    {% if sample.sample == status %}
                    <td>
                        {{ sample.customer_ref_1 }} {{ sample.customer_ref_2 }}
                    </td>
                    <td>
                        {{ sample.sample_date }}
                    </td>

                    {% endif %}
                {% endfor %}
                <td>{{ status.status }}</td>

                <td>
                    <form action="{% url 'viewreport' status.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="View Report">
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<h3>Completed Samples</h3>
<div class="row">
    <table class="col-xs-12">
        <tr>
            <th>Sample Ref.</th>
            <th>Your Reference</th>
            <th>Date Sampled</th>
            <th>Status</th>
            <th>View Report</th>
        </tr>
        {% for status in statuss %}
        {% if status.status == "Complete" %}

        <tr>
            <td>{{ status.sample_ref }}</td>


            {% for sample in details %}
            {% if sample.sample == status %}
            <td>
                {{ sample.customer_ref_1 }} {{ sample.customer_ref_2 }}
            </td>
            <td>
                {{ sample.sample_date }}
            </td>

            {% endif %}
            {% endfor %}
            <td>{{ status.status }}</td>
            <td>
                <form action="{% url 'viewreport' status.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="View Report">
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}