{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}
<h2>Welcome, {{ user.username }}</h2>
<p>{{ user.email }}</p>
<p><a class="btn btn-primary"href="{% url 'submit' %}">New Sample</a></p>

<div class="row">
    <table class="col-xs-12">
        <tr>
            <th>Sample Ref.</th>
            <th>Your Reference</th>
            <th>Date Sampled</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        {% for status in statuss %}
        <tr>
            <td>{{ status.sample_ref }}</td>
            <td>{{ status.status }}</td>

            {% for sample in details %}
            {% if sample.sample == status %}
                <td>
                    {{ sample.customer_ref_1 }} {{ sample.customer_ref_2 }}
                </td>
                <td>
                    {{ sample.sample_date }}
                </td>

            {% endif %}
            {% endfor %}
            <td>
                <form action="{% url 'viewreport' status.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="View Report">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}