{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easca Env. - {{ title }}</title>
    <link rel="shortcut icon" href=""> <!-- To be removed for deployment  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top navbar-custom" style="background-image: url('{% static "img/News-Header-1b.jpg" %}'); background-size: 100% 85px;">
    <div class="container nav_container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                Easca <span class="logo_leaf"><i class="fas fa-leaf"></i></span><br />Environmental
            </a>
        </div>
        <div class="header_contact">
            <a Target=”_blank” href="mailto:eascatest@gmail.com"> <i class="far fa-envelope contact_icon"></i> eascatest@gmail.com    </a>
            <a Target=”_blank” class="phone_link" href="tel:+353857863656"><i class="fas fa-phone contact_icon"></i> +353 85 786 3656</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if title == 'About' %} active_menu {% endif %}"><a href="{% url 'about' %}"><i class="fas fa-info"></i> About</a></li>
                <li class="{% if title == 'Services' %} active_menu {% endif %}"><a href="{% url 'products' %}"><i class="fas fa-vial"></i> Services</a></li>
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li class="{% if title == 'Lab Portal' %} active_menu {% endif %}"><a href="{% url 'labportal' %}"><i class="fas fa-flask"></i> Lab Portal</a></li>
                {% endif %}
                <li class="{% if title == 'Your Portal' %} active_menu {% endif %}"><a href="{% url 'yourportal' %}"><i class="fa fa-user"></i> Your Portal</a></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> Log Out</a></li>
                {%  else %}
                <li class="{% if title == 'Log In' %} active_menu {% endif %}"><a href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i> Log In</a></li>
                {% endif %}
                <li class="{% if title == 'Cart' %} active_menu {% endif %}">
                    <a href="{% url 'view_cart' %}">
                        <i class="fa fa-shopping-cart"></i> Cart
                        {% if product_count > 0 %}
                        <label class="bade badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </nav>


    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container main_container">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p>Developed by <a class="LinkedInLink" href="https://www.linkedin.com/in/danielcaseyengineer/" target="_blank"><i class="fab fa-linkedin"></i> Dan Casey</a></p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block head_js %}
    {% endblock head_js %}
</body>



</html>

